@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Leave Requests View</h1>

@*Statistics*@
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">@Model.TotalRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.TotalRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-success">@Model.ApprovedRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.ApprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-warning">@Model.PendingRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.PendingRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-danger">@Model.RejectedRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.RejectedRequests)</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
</div>

<hr />
<h2>Leave Requests Log</h2>
<hr />

<table class="table">
    <h3>Pending Requests</h3>
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests.Where(item => item.Approved == null && !item.Cancelled))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @if (item.Approved == null)
                {
                    <span class="badge text-bg-warning">Pending</span>
                }
                else if (item.Approved.Value)
                {
                    <span class="badge text-bg-success">Approved</span>
                }
                else if (!item.Approved.Value)
                {
                    <span class="badge text-bg-danger">Rejected</span>
                }
                else if (item.Cancelled)
                {
                    <span class="badge text-bg-secondary">Cancelled</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id">Review</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<br />
<hr />
<br />
<table class="table">
    <h3>Requests Reviewed</h3>
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.LeaveRequests.Where(item => item.Approved != null || item.Cancelled != null))
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                    @if (item.Cancelled)
                    {
                        <span class="badge text-bg-secondary">Cancelled</span>
                    }
                    else if (item.Approved == null)
                    {
                        <span class="badge text-bg-warning">Pending</span>
                    }
                    else if (item.Approved.Value)
                    {
                        <span class="badge text-bg-success">Approved</span>
                    }
                    else if (!item.Approved.Value)
                    {
                        <span class="badge text-bg-danger">Rejected</span>
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
    </tbody>
</table>


