@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "My Leaves";
}

<div class="card" style="width: 100%;">
    <div class="card-header">
        <h2>Leave Allocations</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">Leave Name</div>
                <div class="col">Original Allocation</div>
                <div class="col">Current Allocation</div>
                <div class="col">Action</div>
            </div>
        </li>
        @foreach (var allocation in Model.LeaveAllocations)
        {
            @*<li class="list-group-item">@allocation.LeaveType.Name <span class="badge badge-pill badge-primary">@allocation.NumberOfDays</span></li>*@
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <span class="" style="display: inline-block; min-width: 100px;">
                            <strong>@allocation.LeaveType.Name</strong>
                        </span>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Allocated Days<span class="badge bg-secondary">@allocation.LeaveType.DefaultDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Remaining Days <span class="badge text-bg-light">@allocation.NumberOfDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <a class="btn btn-warning" asp-action="EditAllocation" asp-route-id="@allocation.Id"><i class="fa-regular fa-pen-to-square"></i>Edit Allocation</a> &nbsp;
                    </div>
                </div>




            </li>

        }
        @*        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>*@
    </ul>
</div>

<hr />

<h2>Current Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @if(item.Approved == null)
                    {
                        <span class="badge text-bg-warning">Pending</span>
                    }
                    else if(item.Approved.Value)
                    {
                        <span class="badge text-bg-success">Approved</span>
                    }else if(!item.Approved.Value)
                    {
                        <span class="badge text-bg-danger">Rejected</span>
                    }
                    else if (item.Cancelled)
                    {
                        <span class="badge text-bg-secondary">Cancelled</span>

                    }
                </td>
                <td>
                    @*<a asp-action="Cancel" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Cancel Request</a>*@
                    <button data-id="@item.Id" class="btn btn-danger btn-sm deleteBtn" type="button">Cancel Request</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="deleteForm" asp-action="Cancel">
    <input type="hidden" id="leaveRequestId" name="Id" />
</form>

@section Scripts {
    <script>
        $(function () {
            $(".deleteBtn").click(function (e) {
                swal({
                    title: 'Canceling Request',
                    text: "Are you sure you want to cancel this request?",
                    icon: 'warning',
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        //alert("You said yes")
                        var btn = $(this);
                        var id = btn.data("id")
                        $("#leaveRequestId").val(id);
                        $("#deleteForm").submit();

                    }
                })
            })
        })
    </script>
}

