@using LeaveManagement.Common.Constants;
@using LeaveManagement.Data;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For SEO -->
    <meta name="keywords"
          content="leave management, admin, .net, .net 7, .net core, entity framework developmen, bootstrap 5 dashboard, responsive bootstrap 5 admin template">
    <meta name="description"
          content="Portfolio .NET 7 application">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"] - Leave Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/LeaveManagement.Web.styles.css" asp-append-version="true" />

    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/serilog-sinks-browserconsole/5.0.0/serilog-sinks-browserconsole.min.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" href="">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />*@
                            <!-- Light Logo icon -->
                            @*<img src="~/images/logo-light-icon.png" alt="homepage" class="light-logo" />*@
                        </b>
                        <span class="logo-text">
                            Employee Leave Manager
                        </span>
                    </a>
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="user-profile d-flex no-block dropdown m-t-20">
                                    <div class="user-pic">
                                        <img src="~/images/users/1.jpg" alt="users"
                                             class="rounded-circle" width="40" />
                                    </div>
                                    <div class="user-content hide-menu m-l-10">
                                        <h5 class="m-b-0 user-name font-medium">
                                            @User.FindFirstValue(UserClaims.FullName)
                                        </h5>
                                        <span style="display: block" class="op-5 user-email">
                                            @User.FindFirstValue(UserClaims.Email)
                                        </span>
                                        <span style="display: block" class="op-5 user-email">@User.FindFirstValue(ClaimTypes.Role)</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                            <li class="p-15 m-t-10">
                                <a class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center"
                                   asp-area="Identity" asp-page="/Account/Register">
                                    <i class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Register</span>
                                </a>
                            </li>
                            <li class="p-15">
                                <a class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center" asp-area="Identity" asp-page="/Account/Login">
                                    <i class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Login</span>
                                </a>
                            </li>
                            <li class="p-15">
                                <a id="demo" class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center" asp-area="" asp-page="">
                                    <i class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Demo</span>
                                </a>
                            </li>


                            }
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house me-2"></i><span class="hide-menu">Home</span>
                            </a>
                        </li>
                        @if (User.IsInRole(Roles.User))
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-area="" asp-controller="LeaveRequests" asp-action="Create">
                                    <i class="fa-solid fa-file-pen me-2"></i>
                                    <span class="hide-menu">Apply For Leave</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-area="" asp-controller="LeaveRequests" asp-action="MyLeaves">
                                    <i class="fa-solid fa-list me-2"></i>
                                    <span class="hide-menu">My Leaves</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Administrator))
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-area="" asp-controller="Employees" asp-action="Index">
                                    <i class="fa-solid fa-users me-2"></i><span class="hide-menu">Employee Management</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-area="" asp-controller="LeaveTypes" asp-action="Index">
                                    <i class="fa-solid fa-gears me-2"></i><span class="hide-menu">Leave Type</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-area="" asp-controller="LeaveRequests" asp-action="Index">
                                    <i class="fa-solid fa-list-check me-2"></i><span class="hide-menu">Leave Requests</span>
                                </a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="text-center p-40 upgrade-btn">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="btn d-block w-100 btn-danger text-white">Logout</button>
                                </form>
                            </li>
                        }
                    </ul>

                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()

                </div>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <form id="adminLoginForm" method="post" asp-controller="DemoLogin" asp-action="AdminLogin"></form>

                }
            </div>
            <footer class="footer text-center">
                &copy; @DateTime.Now.Year - Employee Leave Manager | Themed by <a href="https://www.wrappixel.com">WrapPixel</a>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(function () {
            //Initialise the Datatable format across all table classed items
            $('.table').DataTable();
            //Configure format
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
            $("#demo").click(function (e) {
                e.preventDefault();
                swal({
                    title: 'Choose login type',
                    text: "Choose to login as an Administrator or an Employee",
                    buttons: {
                        admin: {
                            text: "Admin",
                            value: "admin"
                        },
                        user: {
                            text: "Employee",
                            value: "user"
                        },
                        cancel: "Cancel"
                    },
                }).then((value) => {
                    // figured 2 ways, one using jQuery.Ajax
                    if (value == "admin") {
                        // Call the adminLogin function when admin is selected
                        $("#adminLoginForm").submit();
                    } else if (value == "user") {
                        // Call the employeeLogin function when user is selected
                        employeeLogin();
                    }
                });
            });

        //Gets the Antiforgery token, from the form creating a hidden input with name
        var token = $('input[name="__RequestVerificationToken"]').val();

        function employeeLogin() {
            $.ajax({
                url: "/DemoLogin/EmployeeLogin",
                type: "POST",
                headers: { "RequestVerificationToken": token },
                success: function () {
                    // Redirect to the admin dashboard upon successful login
                    window.location.href = "/";
                },
                error: function () {
                    // Display an error message or perform any other necessary action
                    swal("Error", "Invalid login attempt", "error");
                }
            });
        }
                });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>